# Data Transformation Example

Datafile: "14_Foreign_Exchange_Rates_PureNumeric.csv"

2020-10-20 - Jingwei Liu

In [3]:
#import the tools:numpy,pandas and matplotlib
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
# Read the data and get the dataframe
fname = "../data/14_Foreign_Exchange_Rates_PureNumeric.csv"
df = pd.read_csv(fname)
df

,Index,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,0,1/3/2000,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,...,1.6563,7.3290,101.70,3.8000,7.9640,8.4430,72.30,1.5808,31.38,36.97
1,1,1/4/2000,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.2180,103.09,3.8000,7.9340,8.3600,72.65,1.5565,30.6,37.13
2,2,1/5/2000,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,...,1.6560,7.2080,103.77,3.8000,7.9350,8.3530,72.95,1.5526,30.8,37.10
3,3,1/6/2000,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8000,7.9400,8.3675,72.95,1.5540,31.75,37.62
4,4,1/7/2000,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8000,7.9660,8.4150,73.15,1.5623,30.85,37.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5014,5211,12/24/2019,1.4445,0.9022,1.5058,0.7719,4.0833,1.3160,7.0064,7.7872,...,1.3550,6.7399,109.38,4.1350,8.9142,9.4133,181.30,0.9807,30.14,30.15
5015,5213,12/26/2019,1.4411,0.9007,1.5002,0.7688,4.0602,1.3124,6.9949,7.7880,...,1.3540,6.7295,109.67,4.1337,8.8799,9.4108,181.30,0.9808,30.11,30.15
5016,5214,12/27/2019,1.4331,0.8949,1.4919,0.7639,4.0507,1.3073,6.9954,7.7874,...,1.3520,6.6829,109.47,4.1260,8.8291,9.3405,181.35,0.9741,30.09,30.14
5017,5215,12/30/2019,1.4278,0.8915,1.4846,0.7610,4.0152,1.3058,6.9864,7.7857,...,1.3483,6.6589,108.85,4.1053,8.7839,9.3145,181.60,0.9677,30.04,29.94
5018,5216,12/31/2019,1.4225,0.8907,1.4826,0.7536,4.0190,1.2962,6.9618,7.7894,...,1.3446,6.6554,108.67,4.0918,8.7823,9.3425,181.30,0.9677,29.91,29.75

In [12]:
# some statistics
df.describe()

,Index,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,KOREA - WON/US$,...,SOUTH AFRICA - RAND/US$,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,THAILAND - BAHT/US$
count,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,...,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000,5019.000000
mean,2603.591552,1.332015,0.843904,1.543683,0.640372,2.547928,1.230338,7.200643,7.782638,1125.442508,...,9.420283,1.480398,6.285997,106.590122,3.650950,7.074850,7.898923,119.111287,1.150461,35.519862
std,1504.868845,0.269918,0.126836,0.337318,0.082611,0.724216,0.182160,0.820135,0.027544,103.479027,...,2.831181,0.188932,0.943508,13.210090,0.378539,1.226937,1.201860,25.342679,0.249052,4.563073
min,0.000000,0.906900,0.624600,1.134600,0.473800,1.537500,0.916800,6.040200,7.708500,903.200000,...,5.615000,1.200700,4.660500,75.720000,2.937000,4.946700,5.834600,72.300000,0.729600,28.600000
25%,1302.500000,1.115200,0.750800,1.323800,0.587400,1.945100,1.055700,6.475750,7.756400,1067.360000,...,7.112250,1.342950,5.592750,100.080000,3.291500,5.996350,6.852350,100.400000,0.966800,31.780000
50%,2600.000000,1.311000,0.815600,1.442400,0.636400,2.328800,1.237000,6.860000,7.780600,1127.760000,...,8.165800,1.408500,6.071700,109.020000,3.800000,6.784000,7.747800,112.300000,1.040400,34.000000
75%,3904.500000,1.430200,0.900100,1.591100,0.692350,3.129900,1.335700,8.276500,7.799800,1180.000000,...,11.624500,1.679150,6.714500,116.815000,3.800000,8.278200,8.743600,132.600000,1.269050,39.405000
max,5216.000000,2.071300,1.209200,2.551000,0.828700,4.259400,1.612800,8.280000,7.849900,1570.100000,...,16.884500,1.854000,9.005000,134.770000,4.496000,9.589000,11.027000,182.800000,1.825000,45.820000

In [9]:
# Min-Max Normaliztion
def MinMax(column):
    minv = column.min()
    maxv = column.max()
    normcolumn = column.apply(lambda x: (x-minv)/(maxv-minv))
    return(normcolumn)

In [ ]:
# column.apply(lambda x: (x-minv)/(maxv-minv))
normcolumn = []
for num in column:
    normcolumn.append((num - minv) / (maxn - minv))

In [13]:
# Using Min-Max normalization to transform Japan column
MinMaxJP = MinMax(df['JAPAN - YEN/US$'])
MinMaxJP.describe()

count    5019.000000
mean        0.522779
std         0.223710
min         0.000000
25%         0.412532
50%         0.563929
75%         0.695936
max         1.000000
Name: JAPAN - YEN/US$, dtype: float64

In [14]:
# Z-Score Normalization
def ZScore(column):
    meanv = column.mean()
    stdv = column.std()  # sample std
    normcolumn = column.apply(lambda x: (x-meanv)/stdv)
    return(normcolumn)

In [15]:
# Using Z-Score normalization to transform Japan column
ZScoreJP = ZScore(df['JAPAN - YEN/US$'])
ZScoreJP.describe()

count    5.019000e+03
mean     1.141537e-14
std      1.000000e+00
min     -2.336859e+00
25%     -4.928143e-01
50%      1.839411e-01
75%      7.740204e-01
max      2.133209e+00
Name: JAPAN - YEN/US$, dtype: float64

In [ ]:
# Decimal Scaling
def DScaling(column, d):
    normcolumn = column.apply(lambda x: x/(10**d))
    return(normcolumn)

In [ ]:
# Using Decimal Scaling normalization to transform Japan column
DScaleJP = DScaling(df['JAPAN - YEN/US$'],2)
DScaleJP.describe()

### Now we can answer the question from the slides

In [ ]:
# Apply Min-Max normolization to Australia, UK and Japan columns and check the stddev
ZScoreAUS = MinMax(df['AUSTRALIA - AUSTRALIAN DOLLAR/US$'])
ZScoreUK = MinMax(df['UNITED KINGDOM - UNITED KINGDOM POUND/US$'])
ZScoreJP = MinMax(df['JAPAN - YEN/US$'])
# form new dataframe
newdf = pd.concat([ZScoreAUS, ZScoreUK, ZScoreJP], axis = 1)
newdf.describe()

### We can find that under the same range [0,1], Japan exchange rate is not more unstable.